<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.regex.admin.dao.web.INewsTypeDao">
    <!-- NewsTypeDTO的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_NewsTypeDTO_Map" type="com.regex.admin.common.dto.web.NewsTypeDTO">
        <id column="id" property="id" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="is_del" property="isDel" />
        <result column="type" property="type" />
    </resultMap>

	   <!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value} <if test="req.suffix != null"> ${req.suffix}</if>
            </foreach>
        </where>
    </sql>

	   <!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value} <if test="req.suffix != null"> ${req.suffix}</if>
            </foreach>
        </where>
    </sql>

    <!-- 数据库中表名为:t_news_type的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="t_news_type_Column">
        t_news_type.id as id
        ,t_news_type.update_time as update_time
        ,t_news_type.create_time as create_time
        ,t_news_type.is_del as is_del
        ,t_news_type.type as type
    </sql>

    <!--获得类名为:NewsTypeDTO对应的数据库表的数据总行数 -->
    <select id="getNewsTypeDTORowCount" parameterType="com.regex.admin.common.util.Assist" resultType="java.lang.Long">
        select count(id) from t_news_type
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <!-- 获得类名为:NewsTypeDTO对应数据库中表的数据集合 -->
    <select id="selectNewsTypeDTO" parameterType="com.regex.admin.common.util.Assist"  resultMap="result_NewsTypeDTO_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="t_news_type_Column" /> 
            </otherwise>
        </choose>
        from t_news_type
        <choose>
            <when test="rowSize ==null">
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
            </when>
            <otherwise>
                inner join
                (
                SELECT id as primary_key FROM t_news_type
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
                <choose>
                    <when test="startRow !=null and rowSize !=null">LIMIT #{startRow},#{rowSize} </when>
                    <when test="rowSize !=null">LIMIT #{rowSize}</when>
                 </choose>
                 ) as tmp
                 on tmp.primary_key=t_news_type.id
            </otherwise>
        </choose>
    </select> 

    <!-- 获得一个NewsTypeDTO对象,以参数NewsTypeDTO对象中不为空的属性作为条件进行查询-->
    <select id="selectNewsTypeDTOByObj" parameterType="com.regex.admin.common.dto.web.NewsTypeDTO" resultMap="result_NewsTypeDTO_Map">
        select 
            <include refid="t_news_type_Column" /> 
        from t_news_type
        <where>
            <if test="type != null "> and t_news_type.type = #{type}</if>
            <if test="isDel != null "> and t_news_type.is_del = #{isDel}</if>
            <if test="createTime != null "> and t_news_type.create_time = #{createTime}</if>
            <if test="updateTime != null "> and t_news_type.update_time = #{updateTime}</if>
            <if test="id != null "> and t_news_type.id = #{id}</if>
        </where>
    </select> 

    <!-- 通过NewsTypeDTO的id获得对应数据库中表的数据对象-->
    <select id="selectNewsTypeDTOById" parameterType="java.lang.Long" resultMap="result_NewsTypeDTO_Map">
        select 
            <include refid="t_news_type_Column" /> 
        from t_news_type
        where t_news_type.id = #{id}
    </select> 

    <!-- 将NewsTypeDTO插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertNewsTypeDTO" parameterType="com.regex.admin.common.dto.web.NewsTypeDTO">
        insert into t_news_type(id,update_time,create_time,is_del,type) 
        values(#{id},#{updateTime},#{createTime},#{isDel},#{type})
    </insert>

    <!-- 将NewsTypeDTO中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyNewsTypeDTO" parameterType="com.regex.admin.common.dto.web.NewsTypeDTO">
        insert into t_news_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="isDel != null">is_del,</if>
            <if test="type != null">type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="updateTime != null"> #{updateTime},</if>
            <if test="createTime != null"> #{createTime},</if>
            <if test="isDel != null"> #{isDel},</if>
            <if test="type != null"> #{type},</if>
        </trim>
    </insert>

    <!-- 将NewsTypeDTO批量插入到对应数据库的表中-->
    <insert id="insertNewsTypeDTOByBatch" parameterType="ArrayList">
        insert into t_news_type(id,update_time,create_time,is_del,type) values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},#{item.updateTime},#{item.createTime},#{item.isDel},#{item.type})
        </foreach>
    </insert>

    <!-- 通过NewsTypeDTO的id将数据库表中对应的数据删除-->
    <delete id="deleteNewsTypeDTOById" parameterType="java.lang.Long">
        delete from t_news_type
        where id = #{id}
    </delete>

    <!-- 通过辅助工具Assist中的条件将NewsTypeDTO对应的数据库表的数据删除-->
    <delete id="deleteNewsTypeDTO" parameterType="com.regex.admin.common.util.Assist">
        delete from t_news_type
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <!-- 通过NewsTypeDTO的id将NewsTypeDTO的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateNewsTypeDTOById" parameterType="com.regex.admin.common.dto.web.NewsTypeDTO">
        update t_news_type set
            update_time=#{updateTime}
            ,create_time=#{createTime}
            ,is_del=#{isDel}
            ,type=#{type}
        where id=#{id}
    </update>

    <!-- 通过NewsTypeDTO的id将NewsTypeDTO中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyNewsTypeDTOById" parameterType="com.regex.admin.common.dto.web.NewsTypeDTO">
        update t_news_type
        <set>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="isDel != null">
                is_del=#{isDel},
            </if>
            <if test="type != null">
                type=#{type},
            </if>
        </set>
        where id=#{id}
    </update>

    <!-- 通过辅助工具Assist中的条件将NewsTypeDTO中的数据更新到数据库对应的表中,包括值为null的数据-->
    <update id="updateNewsTypeDTO" parameterType="map">
        update t_news_type
        <set>
                id=#{enti.id},
                update_time=#{enti.updateTime},
                create_time=#{enti.createTime},
                is_del=#{enti.isDel},
                type=#{enti.type},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <!-- 通过辅助工具Assist中的条件将NewsTypeDTO中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyNewsTypeDTO" parameterType="map">
        update t_news_type
        <set>
            <if test="enti.id != null">
                id=#{enti.id},
            </if>
            <if test="enti.updateTime != null">
                update_time=#{enti.updateTime},
            </if>
            <if test="enti.createTime != null">
                create_time=#{enti.createTime},
            </if>
            <if test="enti.isDel != null">
                is_del=#{enti.isDel},
            </if>
            <if test="enti.type != null">
                type=#{enti.type},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>